.footer__container {
  padding: 70px 16.7% 70px;
  text-align: center;
  color: $basic-black;
  background-color: $basic-white;

  @media (max-width: $desktop-width) {
    padding: 35px 35px 30px;
  }

  @media (max-width: $tablet-width) {
    padding: 35px 0 30px;
  }
}

.footer__info {
  @media (max-width: $tablet-width) {
    padding: 0 25px;
  }
}

.footer__container h2 {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $heading-black;
  letter-spacing: -0.005em;

  @media (max-width: $desktop-width) {
    margin-bottom: 20px;
    font-size: 24px;
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
  }
}

.footer__container p {
  max-width: 555px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  opacity: 0.7;

  @media (max-width: $desktop-width) {
    max-width: unset;
    margin-bottom: 20px;
  }

  @media (max-width: $tablet-width) {
    max-width: 84%;
  }
}

.footer__container img {
  display: block;
  width: 100%;
  height: 530px;
  margin-bottom: 37px;
  object-fit: cover;
  object-position: 50% 50%;

  @media (max-width: $desktop-width) {
    height: unset;
    margin-bottom: 20px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 59%;
  margin: 0 auto;
  padding-right: 18px;

  @media (max-width: $desktop-width) {
    width: 81%;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 15px;
  }
}

.footer__contact {
  @include link;
  display: flex;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  place-items: center;
}

.footer__contact svg {
  margin-right: 15px;
  fill: transparent;
}

.footer__contact span {
  color: $basic-black;
  opacity: 0.5;
}

.footer__contact:hover span,
.footer__contact:focus span {
  opacity: 1;
}

.footer__contact:active span {
  opacity: 0.7;
}
