.header {
  background-color: $menu-gray;
}
.header__container {
  max-width: 874px;
  margin: 0 auto;
  // padding-top: 20px;
  // border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  // @media (max-width: $desktop-width) {
  //   padding-top: 0;
  //   border-bottom: unset;
  // }
}

.header__toggle {
  display: none;

  @media (max-width: $desktop-width) {
    position: absolute;    
    top: 0;
    right: 0;

    width: 50px;
    height: 50px;
    
    border: 0;
    cursor: pointer;
  }
}

.header__nav {  
  position: relative; 
  padding-top: 20px; 
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2); 
  }

  @media (max-width: $desktop-width) {
    position: unset;
    &::after {
      display: none;
    }
  }
}

.header__list {
  @include ul-reset; 

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;

  list-style: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.005em;
 
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.header__item {
  @media (max-width: $desktop-width) {    
    margin-bottom: 27px;
    background-color: $special-semi-grey;    
  }
}

.header__link {
  @include link;
  
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  color: $basic-white;

  &::after {
    display: none;

    content: "";    
    width: 25px;
    height: 25px;
  
    background-image: url("../img/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;
  
    @media (max-width: $desktop-width) {
      display: block;
    }
  }

  @media (max-width: $desktop-width) {
    font-size: 20px; 
    font-weight: 400;
    padding: 16px;   
    color: $menu-gray;
  }
}

.header__link span {
  opacity: 0.7;
}

.header__link:hover span,
.header__link:focus span {
  color: $basic-green;

  opacity: 1;
}

.header__link:active span {
  color: $basic-green;
  opacity: 0.8;
}

.header__nav--nojs {
  @media (max-width: $desktop-width) {
    & .header__list {
      display: flex;
      justify-content: space-evenly;
    }

    & .header__item {      
      background-color: unset;
      margin-bottom: 0;
    }

    & .header__link {      
      font-size: 16px;
      color: $basic-white;

      &::after {
        display: none;
      }

    }
  }
  @media (max-width: $mobile) {
    & .header__list {
      position: relative;
      display: flex;
      flex-direction: column;

      width: 100%;
      padding: 76px 0 0;
      background-color: $basic-white;

      &::before {
        position: absolute;
        content: "";    
        width: 68px;
        height: 20px;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
      
        background-image: url("../img/logo.svg");
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    & .header__link {      
      font-size: 20px;
      color: $menu-gray;
    }

    & .header__toggle {
      display: none;
    }

    & .header__item {
      margin-bottom: 27px;
    }
  }
}

.header__nav--closed {
   & .header__toggle {
    @media (max-width: $desktop-width) {
      display: block;
      background: $basic-green url("../img/icon-burger.svg") no-repeat 50%;
    }
  }
} 

.header__nav--opened {  
  @media (max-width: $desktop-width) {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: $basic-white;

    & .header__toggle {       
      display: block;
      background: url("../img/icon-closed.svg") no-repeat 50%;
      z-index: 10;
    }
 
    & .header__list {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;

      width: 100%;  
      padding-top: 100px;                
    }
  }
} 