.promo {
  min-height: 825px;
  margin-top: -64px;
  background-color: $background-grey;
  background-image: url("../img/bike-bg-dt.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bike-bg-dt@2x.jpg");
  }

  @media (max-width: $desktop-width) {
    min-height: 755px;
    margin-top: -22px;
    background: unset;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 69px;
  }
}

.promo__container {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 320px;

  @media (max-width: $desktop-width) {
    max-width: unset;
    padding-top: 0;
    flex-direction: column;
  }
}

.promo__text-wrapper {
  max-width: 393px;

  @media (max-width: $desktop-width) {
    padding: 25px 22px 78px;
    max-width: unset;
    min-height: 340px;
    background-image: url("../img/bike-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: $background-grey;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bike-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile) {
    padding: 25px 15px 67px;
    background-image: url("../img/bike-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bike-mobile@2x.jpg");
    }
  }
}

.promo__text-wrapper h2 {
  margin: 23px 0 25px;
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005em;
  color: $basic-white;

  @media (max-width: $desktop-width) {
    margin: 80px 0 22px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }

  @media (max-width: $mobile) {
    margin-top: 68px;
  }
}

.promo__text-wrapper p {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;
  color: $basic-white;
  opacity: 0.8;

  @media (max-width: $desktop-width) {
    max-width: 56.6%;
    margin: 0 auto;

    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }

  @media (max-width: $tablet-width) {
    max-width: unset;
  }
}

.promo__form-wrapper {
  max-width: 330px;

  @media (max-width: $desktop-width) {
    max-width: 325px;
    margin: 0 auto;
    padding-top: 72px;
  }
  @media (max-width: $mobile) {
    max-width: 290px;
  }
}

.promo--nojs .promo__logo {
  @media (max-width: $mobile) {
    display: none;
  }
}
