.video {
  position: relative;
  min-height: 706px;
  background-color: $background-black;
  color: $basic-white;

  @media (max-width: $desktop-width) {
    min-height: 416px;
  }

  @media (max-width: $tablet-width) {
    min-height: 384px;
  }
}

.video h2 {
  @include title-desktop;
  max-width: calc(100% - 500px);
  margin: 0 auto;
  padding-top: 120px;

  color: inherit;
  text-align: center;

  @media (max-width: $desktop-width) {
    max-width: calc(100% - 340px);
    
    padding-top: 70px;
    font-size: 24px;
  }
  @media (max-width: $tablet-width) {
    max-width: 88%;
    padding-top: 84px;
  }
}

.video p {
  max-width: 28%;
  margin: 0 auto;
  margin-top: 20px;
  
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: -0.005em;

  opacity: 0.7;
  text-align: center;

  @media (max-width: $desktop-width) {
    max-width: 57%;    
  }

  @media (max-width: $tablet-width) {
    max-width: 92%;    
  }
}
.video__wrapper {
  position: relative;
  bottom: -58px;
  left: 50%;  
  width: 65%; 
  transform: translateX(-50%);

  @media (max-width: $desktop-width) {
    width: calc(100% - 265px); 
    bottom: -90px;   
  }

  @media (max-width: $tablet-width) {
    width: calc(100% -32px);
    bottom: 30px;
  }
}
.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  @media (max-width: $desktop-width) {
    & svg {
      width: 90px;
      height: 90px;
    }
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);  
  }
}